# Virtual environment
.venv/

# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

.idea/
*.pyc

*.ipynb_checkpoints/